@tailwind base;
@tailwind components;
@tailwind utilities;
/* @import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities'; */

@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,500;0,600;0,700;1,300;1,400;1,600&display=swap');

:root {
  --primary: #aaeec4;
  --primary-dark: #aaeec4ad;
  --secondary: #22252b;
  /* --primary-white: #ffffff; */
  --primary-white: #ffffffec;
  --primary-grey: #e8e8e8;
}

@layer base {
  html {
    @apply scroll-smooth;
  }

  body {
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    /* font-stretch: semi-condensed; */
    letter-spacing: -0.06em;
  }

  li {
    @apply p-4 text-sm;
  }

  button {
    @apply flex items-center justify-center px-2 py-1 border bg-[var(--secondary)] text-[var(--primary)] dark:bg-[var(--primary)] dark:text-[var(--secondary)] rounded border-none;
  }

  h2 {
    @apply text-xl font-bold;
  }
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 0, 'opsz' 48;
}

.panelContainerBig {
  display: flex;
  justify-content: center;
}

.panelContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1rem 1rem;
  gap: 2rem;
  width: min-content;
  width: 95%;
  height: fit-content;
  /* border: 2px solid yellow; */
}

.panel1 {
  width: 300px;
  height: auto;
  /* flex: 0 0 calc(33.33% - 10px); */
  border-radius: 1rem;
  box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.5);
  /* width: 700px; */
  /* border-radius: 50%; */
}
.panel3 {
  width: 300px;
  height: auto;
  border-radius: 1rem;
  box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.5);
  /* flex: 0 0 calc(33.33% - 10px); */
}

.panel4 {
  width: 300px;
  height: auto;
  border-radius: 1rem;
  box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.5);
  /* flex: 0 0 calc(33.33% - 10px); */
}

.panel5 {
  width: 960px;
  height: 300px;
  border-radius: 1rem;
  box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.5);
  /* width: 700px; */
}
.panel6 {
  width: 960px;
  height: 300px;
  border-radius: 1rem;
  box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.5);
  /* width: 700px; */
}
@media screen and (max-width: 1024px) {
  .panelContainer {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    flex-direction: column;
    flex: 0 0 calc(100% - 10px);
    border-radius: 1rem;
    box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.5);
    padding: 0 3px;
  }

  .panel1 {
    width: 400px;
  }
  .panel3 {
    width: 400px;
  }
  .panel4 {
    width: 400px;
  }
  .panel5 {
    width: 400px;
  }
  .panel6 {
    width: 400px;
  }
}
